<!DOCTYPE html>
<html>
<head>

  <title>Nelisa Spaza Store</title>

</head>
<body>
  <h1>nelisa Spaza Store</h1>

<p> {{mostPopular.description}} is {{mostPopular.product}} : {{mostPopular.quantity}} </p>

<p> {{LeastPopular.description}} is {{leastPopular.product}} : {{leastPopular.quantity}} </p>

<p> {{popularCategory.description}} is {{popularCategory.product}} : {{popularCategory.quantity}}</p>

<p> {{notPopularCategory.description}} is {{notPopularCategory.product}} : {{notPopularCategory.quantity}}</p>

<p> {{mostProfitableProduct.description}} is {{mostProfitableProduct.product}} : R{{mostProfitableProduct.quantity}}</p>

<p> {{profitCategory.description}} is {{profitCategory.product}} : R{{profitCategory.quantity}}</p>



</body>
</html>
