<h1 class="area">Add Sales</h1>
<form action="/sales/add_sales" method="POST">
	<div class="">

		<label for="">Products &nbsp;&nbsp;&nbsp;&nbsp;</label>
		<select class="" name="product_id">
			{{#categories}}
				<option value="{{id}}">{{description}}</option>
			{{/categories}}
		</select>
	</div>


	<div>
		<div>

   <!--  --><!--  --><!--  --><!--  --><!--  -->
  <!-- <div>
		<label for="">Description</label>
		<input type="text" name="description" value="{{description}}"></div> -->
<!--  --><!--  --><!--  --><!--  --><!--  -->
	<div>
		<div>
			<label for="">Date</label>
			<input type="date" name="sale_date" value="{{sale_date}}"></div>


	<!--  --><!--  --><!--  --><!--  --><!--  -->
>>>>>>> 1de13e84fa3deedb57886f10c7f624973571a43e
		<div>
		<label for="">Amount</label>
		<input type="number" step="any" name="price" value="{{price}}">
	</div>
<!--  --><!--  --><!--  --><!--  -->
	<div>
		<label for="">Quantity</label>
		<input type="number" step="any" name="quantity" value="{{quantity}}">
	</div>

	<input type="submit">
</form>
