<h1 class="area">Add Sales</h1>
<form action="/sales/add_sales" method="POST">
	<div class="">

		<label for="">Products &nbsp;&nbsp;&nbsp;&nbsp;</label>
		<select class="" name="product_id">
			{{#categories}}
				<option value="{{id}}">{{description}}</option>
			{{/categories}}
		</select>
	</div>


	<!-- <div class="container">
    <form class="navbar-form navbar-left" action="/sales/add" method="POST">
        <div>
            <label for="">Product &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <select class="" name="product_id">
                {{#products}}
                    <option class="btn btn-default" value="{{id}}">{{product}}</option>
                {{/products}}
            </select>
        </div> -->
   <!--  --><!--  --><!--  --><!--  --><!--  -->
  <!-- <div>
		<label for="">Description</label>
		<input type="text" name="description" value="{{description}}"></div>
<!----><!--  --><!--  --><!--  --><!--  -->
	<div>
		<div>
			<label for="">Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
			<input type="text" name="sale_date" value="{{sale_date}}"></div>
	<!--  --><!--  --><!--  --><!--  --><!--  -->
		<div>
		<label for="">Amount</label>
		<input type="number" step="any" name="price" value="{{price}}">
	</div>
<!--  --><!--  --><!--  --><!--  -->
	<div>
		<label for="">Quantity</label>
		<input type="number" step="any" name="quantity" value="{{quantity}}">
	</div>

	<input type="submit">
</form>
<script>
	var options = {year: "numeric",month: "2-digit",day: "2-digit"};
	TinyDatePicker(document.querySelector('.date-picker'), {
		format: function(date) {
			return date.toLocaleDateString('en-CA', options);
		}
	});
</script>
