<h1 class="area">Add Purchases</h1>
<form action="/purchases/add_purchases" method="POST">
	<div class="">

		<label for="">Products &nbsp;&nbsp;&nbsp;&nbsp;</label>
		<select class="" name="prod_id">
			{{#categories}}
				<option value="{{id}}">{{description}}</option>
			{{/categories}}
		</select>
	</div>


	<div>
		<label for="">Supplier</label>
		<input type="text" name="supplier" value="{{supplier}}"></div>
	<!--  --><!--  --><!--  --><!--  -->
	<div>
		<div>

			<label for="">Date</label>
			<input type="date" name="purchase_date" value="{{purchase_date}}"></div>
<!--  --><!--  --><!--  --><!--  -->
	<div>
		<label for="">Quantity</label>
		<input type="number" step="any" name="quantity" value="{{quantity}}">
	</div>

	<div>
	<label for="">Amount</label>
	<input type="number" step="any" name="cost" value="{{cost}}">
</div>

	<input type="submit">
</form>
