<h1 class="area">Categories</h1>

<form action="/categories/search/" method="post">
  <input type="text" id="searchBar" class="searchBar" name="search_val" placeholder="Search.." method="POST">
  <input type='submit' value='search'>
</form>


{{#if user.is_admin}}
  <a href="/categories/add" type="button" id="add_button" class="btn btn-default-outline waves-effect"><i class="fa fa-plus" style="color:lightblue;text-shadow:2px 2px 4px #000000;"></i>
Add</a>
{{else}}
  <a></a>
{{/if}}
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr id="colorTable">
        <th style=" text-shadow:0px 10px 7px black">categories</th>
      </tr>
    </thead>
    <tbody>
      {{#categories}}
        <tr id="Pagetable" id="catList" id="colorTable">
          <td id="colorTable" style="color:white; text-shadow:0px 10px 7px black"><strong>{{description}}
        </strong></td>
          {{#if ../is_admin}}
            <td><a href="/categories/edit/{{id}}" type="button" id="edit_button" class="btn btn-success-outline waves-effect btn-lm"><span <i class="fa fa-edit"style="color:lightgreen;text-shadow:2px 2px 4px #000000;" aria-hidden="true"></i></span> Edit</a></td>
            <td><a href="/categories/delete/{{id}}" type="button" id="delete_button" class="btn btn-danger-outline "><span><i class="fa fa-trash" style="color:red;text-shadow:2px 2px 4px #000000;" aria-hidden="true"></i></span>Delete</a></td>
          {{else}}

            <td></td>
          {{/if}}



        </tr>
      {{/categories}}

    </tbody>
  </table>
</div>
<script>

$(document).ready(function(){
   $("#searchBar").keyup(function(){
       var search_val = $("#searchBar").val();
       $.get("/categories/search/" + search_val, function(results){
         $("#catList").html(results)
       });
       if(search_val.length === 0){
          location.reload();
       };
   });
 });
</script>



</body>
