<h1 class="area">Edit product</h1>

<div class="row">
    <div class="col-lg-3"></div>

    <div class="col-lg-6">
        <div class="card">




<form action="/products/update/{{data.id}}" method="POST">
	<div class="">
		<label for="">Category</label>
		<select class="" name="category_id">

			{{#categories}}
				<option {{selected}} value="{{id}}">{{description}}</option>
			{{/categories}}
		</select></div>
<!--  --><!--  --><!--  --><!--  --><!--  -->
	<div class="">
		<label for="">Description</label>
		<input type="text" name="description" value="{{data.description}}"></div>
	<!--  --><!--  --><!--  --><!--  --><!--  -->
	<!-- <div class="field">
		<label for="price">Price</label>
		<input type="text" name="price" value="{{data.price}}"></div> -->
	<input class="btn btn-default-outline waves-effect glyphicon glyphicon-plus-sign" type="submit">
</form>
