<!DOCTYPE html>
<html>

<head>


  <title>Nelisa Spaza Store</title>
  <br></br>

  </div>
  <h1>Nelisa Spaza Store</h1>





</head>


<body>

  <body>


  </body>

  </html>



  <!-- <img src="http://narrative.projectcodex.co/images/ProfileNelisa.png" class="img-responsive" alt="Cinque Terre" width="304" height="236" position="center" text-align="center"> -->
  <br></br>


  <br></br>

  <div class="container">
    <h2>Weekly Sales</h2>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Description</th>
            <th>Product</th>
            <th>Quantity</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td><strong>{{mostPopular.description}}</strong></td>
            <td><strong>{{mostPopular.product}}</strong></td>
            <td><strong>{{mostPopular.quantity}}</strong></td>

          </tr>
          <tbody>
            <tr>
              <td>2</td>
              <td><strong>{{leastPopular.description}}</strong></td>
              <td><strong>{{leastPopular.product}}</strong></td>
              <td><strong>{{leastPopular.quantity}}</strong></td>

            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>3</td>
              <td><strong>{{popularCategory.description}}</strong></td>
              <td><strong>{{popularCategory.product}}</strong></td>
              <td><strong>{{popularCategory.quantity}}</strong></td>

            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>4</td>
              <td><strong>{{notPopularCategory.description}}</strong></td>
              <td><strong>{{notPopularCategory.product}}</strong></td>
              <td><strong>{{notPopularCategory.quantity}}</strong></td>

            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>5</td>
              <td><strong>{{mostProfitableProduct.product}}</strong></td>
              <td><strong>{{mostProfitableProduct.description}}<strong></td>
              <td><strong>R{{mostProfitableProduct.quantity}}</strong></td>

            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>6</td>
              <td><strong>{{profitCategory.description}}</strong></td>
              <td><strong>{{profitCategory.product}}</strong></td>
              <td><strong>R{{profitCategory.quantity}}</strong></td>

            </tr>
          </tbody>
      </table>
    </div>
  </div>

</body>

</html>
