<!DOCTYPE html>
<html>

<head>


  <title>Nelisa Spaza Store</title>
  <br></br>

  </div>
  <h1 style="color:linen">Nelisa Spaza Store</h1>





</head>


<body>

  <body>


  </body>

  </html>



  <!-- <img src="http://narrative.projectcodex.co/images/ProfileNelisa.png" class="img-responsive" alt="Cinque Terre" width="304" height="236" position="center" text-align="center"> -->
  <br></br>


  <br></br>
  <div  class="area">
    <h2 class="tableHeadWeeklySale">Weekly Sales</h2>
    <div class="table-responsive">
      <table  class="table table-hover table-bordered" >
        <thead>
          <tr>
            <th class="tableDataWhite">#</th>
            <th class="tableHeadWeeklySale">Description</th>
            <th class="tableHeadWeeklySale">Product</th>
            <th class="tableHeadWeeklySale">Quantity</th>

          </tr>
        </thead>
        <tbody>
          <tr id="table">
            <td class="tableDataWhite">1</td>
            <td class="tableDataWhite"><strong>{{mostPopular.description}}</strong></td>
            <td class="tableDataWhite"><strong>{{mostPopular.product}}</strong></td>
            <td class="tableDataWhite"><strong>{{mostPopular.quantity}}</strong></td>

          </tr>
          <tbody>
            <tr id="table">
              <td class="tableDataWhite">2</td>
              <td class="tableDataWhite"><strong>{{leastPopular.description}}</strong></td>
              <td class="tableDataWhite"><strong>{{leastPopular.product}}</strong></td>
              <td class="tableDataWhite"><strong>{{leastPopular.quantity}}</strong></td>

            </tr>
          </tbody>
          <tbody>
            <tr id="table">
              <td class="tableDataWhite">3</td>
              <td class="tableDataWhite"><strong>{{popularCategory.description}}</strong></td>
              <td class="tableDataWhite"><strong>{{popularCategory.product}}</strong></td>
              <td class="tableDataWhite"><strong>{{popularCategory.quantity}}</strong></td>

            </tr>
          </tbody>
          <tbody>
            <tr id="table">
              <td class="tableDataWhite">4</td>
              <td class="tableDataWhite"><strong>{{notPopularCategory.description}}</strong></td>
              <td class="tableDataWhite"><strong>{{notPopularCategory.product}}</strong></td>
              <td class="tableDataWhite"><strong>{{notPopularCategory.quantity}}</strong></td>

            </tr>
          </tbody>
          <tbody>
            <tr id="table">
              <td class="tableDataWhite">5</td>
              <td class="tableDataWhite"><strong>{{mostProfitableProduct.description}}<strong></td>
              <td class="tableDataWhite"><strong>{{mostProfitableProduct.product}}</strong></td>
              <td class="tableDataWhite"><strong>R{{mostProfitableProduct.quantity}}</strong></td>

            </tr>
          </tbody>
          <tbody>
            <tr id="table">
              <td class="tableDataWhite">6</td>
              <td class="tableDataWhite"><strong>{{profitCategory.description}}</strong></td>
              <td class="tableDataWhite"><strong>{{profitCategory.product}}</strong></td>
              <td class="tableDataWhite"><strong>R{{profitCategory.quantity}}</strong></td>

            </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>
</body>

</html>
