<h1 class="area">Products</h1>

<body class="fixed-sn graphite-skin">
  <form action="/products/search/" method="post">
    <p id="text" style="color:white">
      <i class="fa fa-search" id="icon" aria-hidden="true"></i>
    </p>
    <input autocomplete="off" type="text"  id="searchBarProducts" class="searchBar" name="search_val" placeholder="Search.." method="POST">
    <p id="text" style="color:white">
      <input type="submit" class="btn btn-default" value="search">
    </p>
  </form>
  {{#if user.is_admin}}
    <a href="/products/add" type="button" id="add_button" class="btn btn-default-outline waves-effect"><i class="fa fa-plus" style="color:lightblue;text-shadow:2px 2px 4px #000000;"></i>Add</a>
  {{else}}
    <a></a>
  {{/if}}
  <div class="table-responsive  table-bordered table-hover">
    <table id="productSearch" class="table">

      <thead>
        <tr>
          <th class="tableheadStyling">products name</th>
          <th class="tableheadStyling">Categories Name</th>
        </tr>
      </thead>
      <tbody>
        {{#products}}
          <tr id="Pagetable" id="colorTable">

            <td class="tableDataWhite"><strong>{{product_name}}</strong>
            </td>
            <td class="tableDataWhite"><strong>{{description}}</strong></td>

            {{#if ../is_admin}}
              <td><a href="/products/edit/{{id}}" type="button" id="edit_button" class="btn btn-success-outline waves-effect btn-sm"><span <i class="fa fa-edit"style="color:lightgreen;text-shadow:2px 2px 4px #000000;" aria-hidden="true"></i></span> Edit</a></td>

              <td><a href="/products/delete/{{id}}" type="button" id="delete_button" class="btn btn-danger-outline "><span><i class="fa fa-trash" style="color:red;text-shadow:2px 2px 4px #000000;" aria-hidden="true"></i></span>Delete</a></td>
            {{else}}
              <td></td>
            {{/if}}
          </tr>
        {{/products}}
      </tbody>
    </table>
  </div>
  <script>
    $(document).ready(function() {
      $("#searchBarProducts").keyup(function() {
        var search_val = $("#searchBarProducts").val();
        console.log(search_val);
        $.post("/products/search", { search_val: search_val}, function(results) {
          console.log(search_val);
          $("#productSearch").html(results)
          console.log(results);
        });
        // if (search_val.length === 0) {
        //   location.reload();
        // };
      });
    });
  </script>
</body>
