<h1 class="area">purchases</h1>

<a href="/purchases/add_purchases" type="button" id="add_button" class="btn btn-primary glyphicon glyphicon-plus-sign">Add</a>


<div class="table-responsive">

<table class="table">
   <thead>
     <tr>
       <th>Supplier</th>
       <th>Date</th>
       <th>Product name</th>
       <th>Prooduct Quantity</th>
       <th>Price</th>
           </tr>
   </thead>
   <tbody>
      {{#purchases}}
     <tr  id="Pagetable" id="colorTable">

       <td style="color:linen"><strong>{{supplier}}</strong></td>
       <td style="color:linen"><strong>{{purchase_date}}</strong></td>
       <td style="color:linen"><strong>{{description}}</strong></td>
       <td style="color:linen"><strong>{{quantity}}</strong></td>
       <td style="color:linen"><strong>{{cost}}</strong></td>
       <td><a href="/purchases/edit_purchases/{{id}}" type="button" id="edit_button" class="btn btn-default btn-sm">
         <span class="glyphicon glyphicon-edit"></span> Edit</a></td>

         <td><a href="/purchases/delete/{{id}}" type="button" id="delete_button" class="btn btn-danger glyphicon glyphicon-trash">Delete</a></td>



     </tr>
       {{/purchases}}

   </tbody>
 </table>
</div>
