<h1 class="area">purchases</h1>

<!-- <form action="/categories/search/" method="post">
  <p id="text" style="color:white">
    <i class="fa fa-search" id="icon" aria-hidden="true"></i>
  </p>
  <input type="text" id="searchBarCategories" class="searchBar" name="search_val" placeholder="Search.." method="POST">
<p id="text" style="color:white">
  <input type='submit' value='search'>
</p>
</form> -->


<form action="/purchases/search/" method="post">
  <p id="text" style="color:white">
    <i class="fa fa-search" id="icon" aria-hidden="true"></i>
  </p>
<input type="text" class="searchBar" id="searchBarPurchases" name="search_val" placeholder="Search.." method="POST">
<p id="text" style="color:white">
<input type='submit' value='search'>
</p>
</form>

{{#if user.is_admin}}
  <a href="/purchases/add" type="button" id="add_button" class="btn btn-default-outline waves-effect"><i class="fa fa-plus" style="color:lightblue;text-shadow:2px 2px 4px #000000;"></i>Add</a>
{{else}}
  <a></a>
{{/if}}

<div class="table-responsive">

  <table id="purchaseSearch" class="table table-bordered table-hover">
    <thead>
      <tr>
        <th style="color:linen; text-shadow:0px 10px 7px black">Supplier</th>
        <th style="color:linen; text-shadow:0px 10px 7px black">Date</th>
        <th style="color:linen; text-shadow:0px 10px 7px black">Product Name</th>
        <th style="color:linen; text-shadow:0px 10px 7px black">Prooduct Quantity</th>
        <th style="color:linen; text-shadow:0px 10px 7px black">Price</th>
      </tr>
    </thead>
    <tbody>
      {{#purchases}}
        <tr id="Pagetable" id="colorTable">


          <td style="color:linen; text-shadow:0px 10px 7px black"><strong>{{supplier}}</strong></td>
          <td style="color:linen; text-shadow:0px 10px 7px black"><strong>{{purchase_date}}</strong></td>
          <td style="color:linen; text-shadow:0px 10px 7px black"><strong>{{description}}</strong></td>
          <td style="color:linen; text-shadow:0px 10px 7px black"><strong>{{quantity}}</strong></td>
          <td style="color:linen; text-shadow:0px 10px 7px black"><strong>{{cost}}</strong></td>


          {{#if ../is_admin}}

            <td><a href="/purchases/edit_purchases/{{id}}" type="button" id="edit_button" class="btn btn-success-outline waves-effect btn-lm"><span <i class="fa fa-edit"style="color:lightgreen;text-shadow:2px 2px 4px #000000;" aria-hidden="true"></i></span> Edit</a></td>
            <!-- <td><a href="/purchases/delete/{{id}}" type="button" id="delete_button" class="btn btn-danger-outline waves-effect glyphicon glyphicon-trash">Delete</a></td> -->
            <td><a href="/purchases/delete/{{id}}" type="button" id="delete_button" class="btn btn-danger-outline "><span><i class="fa fa-trash" style="color:red;text-shadow:2px 2px 4px #000000;" aria-hidden="true"></i></span>Delete</a></td>
          {{else}}
            <td></td>
          {{/if}}



        </tr>
      {{/purchases}}

    </tbody>
  </table>
</div>
<script>
  $(document).ready(function() {
    $("#searchBarPurchases").keyup(function() {
      var search_val = $("#searchBarPurchases").val();
      console.log(search_val);
      $.post("/purchases/search", {search_val : search_val} , function(results) {
        console.log(search_val);
        $("#purchaseSearch").html(results)
        console.log(results);
      });
      if (search_val.length === 0) {
        location.reload();
      };
    });
  });
</script>
