<h1 class="area">Sales</h1>





<body class="fixed-sn graphite-skin">
<form action="/sales/search/" method="post">
<p id="text" style="color:white">
<i class="fa fa-search" id="icon" aria-hidden="true"></i>
</p>
<input autocomplete="off" type="text" id="searchBarSales" class="searchBar" name="search_val" placeholder="Search.." method="POST">
<p id="text" style="color:white">
<input type="submit" class="btn btn-default" value"search">
</p>
</form>


{{#if user.is_admin}}
<a href="/sales/add_sales" type="button" id="add_button" class="btn btn-default-outline waves-effect"><i class="fa fa-plus" style="color:lightblue;text-shadow:2px 2px 4px #000000;"></i>Add</a>
{{else}}
<a></a>
{{/if}}
<div class="table-responsive">
<table id="saleSearch" class="table table-bordered table-hover">
   <thead>
     <tr>
       <th class="tableheadStyling">Date</th>
       <th class="tableheadStyling">Quantity</th>
       <th class="tableheadStyling">Price</th>
       <th class="tableheadStyling">Product Name</th>
           </tr>
   </thead>
   <tbody>
      {{#sales}}
     <tr  id="Pagetable">

       <td class="tableDataWhite"><strong>{{sale_date}}</strong></td>
       <td class="tableDataWhite"><strong>{{quantity}}</strong></td>
       <td class="tableDataWhite"><strong>{{price}}</strong></td>
       <td class="tableDataWhite"><strong>{{description}}</strong></td>

       {{#if ../is_admin}}
       <td><a href="/sales/edit/{{id}}" type="button" id="edit_button" class="btn btn-success-outline waves-effect btn-lm"><span <i class="fa fa-edit"style="color:lightgreen;text-shadow:2px 2px 4px #000000;" aria-hidden="true"></i></span> Edit</a></td>
         <td><a href="/sales/delete/{{id}}" type="button" id="delete_button" class="btn btn-danger-outline "><span><i class="fa fa-trash" style="color:red;text-shadow:2px 2px 4px #000000;" aria-hidden="true"></i></span>Delete</a></td>
         {{else}}
         <td></td>
         {{/if}}
     </tr>
       {{/sales}}

   </tbody>
 </table>
</div>
<script>
  $(document).ready(function() {
    $("#searchBarSales").keyup(function() {
      var search_val = $("#searchBarSales").val();
      console.log(search_val);
      $.post("/sales/search", {search_val : search_val} , function(results) {
        console.log(search_val);
        $("#saleSearch").html(results)
        console.log(results);
      });
      // if (search_val.length === 0) {
      //   location.reload();
      // };
    });
  });
</script>
