<div class="table-responsive">
<table class="table">
   <thead>
     <tr>
       <th  style="color:linen; text-shadow:0px 10px 7px black">Date</th>
       <th  style="color:linen; text-shadow:0px 10px 7px black">Quantity</th>
       <th  style="color:linen; text-shadow:0px 10px 7px black">Price</th>
       <th  style="color:linen; text-shadow:0px 10px 7px black">Product Name</th>
           </tr>
       </thead>
       <tbody>
      {{#sales}}
       <tr  id="Pagetable" id="colorTable">

       <td id="colorTable" style="color:linen; text-shadow:0px 10px 7px black"><strong>{{sale_date}}</strong></td>
       <td id="colorTable" style="color:linen; text-shadow:0px 10px 7px black"><strong>{{quantity}}</strong></td>
       <td id="colorTable" style="color:linen; text-shadow:0px 10px 7px black"><strong>{{price}}</strong></td>
       <td id="colorTable" style="color:linen;  text-shadow:0px 10px 7px black"><strong>{{description}}</strong></td>

       {{#if ../is_admin}}
       <td><a href="/sales/edit/{{id}}" type="button" id="edit_button" class="btn btn-success-outline waves-effect btn-lm"><span <i class="fa fa-edit"style="color:lightgreen;text-shadow:2px 2px 4px #000000;" aria-hidden="true"></i></span> Edit</a></td>
       <!-- <td><a href="/sales/edit_sales/{{id}}" type="button" id="edit_button" class="btn btn-success-outline waves-effect btn-sm">
         <span class="glyphicon glyphicon-edit"></span> Edit</a></td> -->
         <!-- <td><a href="/sales/delete/{{id}}" type="button" id="delete_button" class="btn btn-danger-outline waves-effect glyphicon glyphicon-trash">Delete</a></td> -->
         <td><a href="/sales/delete/{{id}}" type="button" id="delete_button" class="btn btn-danger-outline "><span><i class="fa fa-trash" style="color:red;text-shadow:2px 2px 4px #000000;" aria-hidden="true"></i></span>Delete</a></td>
         {{else}}
         <td></td>
         {{/if}}
         </tr>
         {{/sales}}

         </tbody>
         </table>
        </div>
