
{{#if msg}}
    <div class="message">
        {{msg}}
    </div>
{{/if}}

<script type="text/javascript">

//   function checkForm(form)
//   {
//     if(form.username.value == "") {
//       alert("Error: Username cannot be blank!");
<!-- //       form.username.focus(); -->
//       return false;
//     }
//     // re = /^\w+$/;
//     // if(!re.test(form.username.value)) {
//     //   alert("Error: Username must contain only letters, numbers and underscores!");
//     //   form.username.focus();
//     //   return false;
//     // }
//
//     if(form.password.value != "" && form.password.value == form.confirmPassword.value) {
//       if(form.password.value.length < 6) {
//         alert("Error: Password must contain at least six characters!");
//         form.password.focus();
//         return false;
//       }
//       if(form.password.value == form.username.value) {
//         alert("Error: Password must be different from Username!");
//         form.pwd1.focus();
//         return false;
//       }
//       // re = /[0-9]/;
//       // if(!re.test(form.pwd1.value)) {
//       //   alert("Error: password must contain at least one number (0-9)!");
//       //   form.pwd1.focus();
//       //   return false;
//       // }
//       // re = /[a-z]/;
//       // if(!re.test(form.pwd1.value)) {
//       //   alert("Error: password must contain at least one lowercase letter (a-z)!");
//       //   form.pwd1.focus();
//       //   return false;
//       // }
//       // re = /[A-Z]/;
//       // if(!re.test(form.pwd1.value)) {
//       //   alert("Error: password must contain at least one uppercase letter (A-Z)!");
//       //   form.pwd1.focus();
//       //   return false;
//       // }
//     } else {
//       alert("Error: Please check that you've entered and confirmed your password!/ passrds do not match");
//       form.password.focus();
//       return false;
//     }
//
//     alert("You entered a valid password: " + form.pwd1.value);
//     return true;
//   }
//
// </script>
        <div class="row">
            <div class="col-lg-3"></div>

            <div class="col-lg-6">
                <div class="card">
                  <!--Form with header-->
                  <div class="card">
                      <div class="card-block">

                          <!--Header-->
                          <div class="form-header dark-gradient">
                                      <h3><i class="fa fa-user"></i>Sign Up here</h3>
                          </div>


                          <form class="md-form" action="/signup" method="post">
                          <!--Body-->
                          <div class="md-form">
                              <i class="fa fa-user prefix"></i>
                              <input id="form3" class="inputStyling" type="text"  name="username" placeholder="">{{username}}</input>
                              <label for="form3">full name </label>
                          </div>

                          <div class="md-form">
                              <i class="fa fa-envelope prefix"></i>
                              <input id="form2" class="inputStyling" type="email" placeholder="" name="email">{{email}}</input>
                              <label for="form2">Your email</label>
                          </div>

                          <div class="md-form">
                              <i class="fa fa-lock prefix"></i>
                              <input type="password" id="form4" class="inputStyling" type="password" name="password">{{password}}</input>
                              <label for="form4">Your password</label>
                          </div>
                          <div class="md-form">
                              <i class="fa fa-lock prefix"></i>
                              <input type="password" id="form4" class="inputStyling" type="password" name="confirmPassword">{{password}}</input>
                              <label for="form4">Confirm password</label>
                          </div>
                          <button type="submit" class="btn btn-default-outline waves-effect glyphicon glyphicon-plus-sign">Sign Up</button>

</form>

<!-- <script type="text/javascript">
if(data.password !== data.confirmPassword){
req.flash("warning", 'password do not match. Make sure passwords match');
return res.redirect("/signUp_users");

 return next(err);
}
</script> -->
                </div>
            </div>

            <div class="col-lg-3"></div>
        </div>

        <h4 style="color:red" id='warning'>{{messages.warning}}</h4>
        <!-- <h4 style="color:yellow" id='warning'>{{messages.warning}}</h4> -->
