
{{#if msg}}
    <div class="message">
        {{msg}}
    </div>
{{/if}}

        <div class="row">
            <div class="col-lg-3"></div>

            <div class="col-lg-6">
                <div class="card">
                  <!--Form with header-->
                  <div class="card">
                      <div class="card-block">

                          <!--Header-->
                          <div class="form-header blue-gradient">
                                      <h3><i class="fa fa-user"></i>Sign Up here</h3>
                          </div>


                          <form class="md-form" action="/signUp" method="post">

                          <!--Body-->
                          <div class="md-form">
                              <i class="fa fa-user prefix"></i>
                              <input id="form3" class="form-control" type="text"  name="username" placeholder="">{{username}}</input>
                              <label for="form3">full name </label>
                          </div>
                          <!-- <div class="md-form">
                              <i class="fa fa-user prefix"></i>
                              <input type="text" id="form3" class="form-control">
                              <label for="form3">Your Surname</label>
                          </div> -->
                          <div class="md-form">
                              <i class="fa fa-envelope prefix"></i>
                              <input id="form2" class="form-control" type="email" placeholder="" name="email">{{email}}</input>
                              <label for="form2">Your email</label>
                          </div>

                          <div class="md-form">
                              <i class="fa fa-lock prefix"></i>
                              <input type="password" id="form4" class="form-control" type="password" name="password">{{password}}</input>
                              <label for="form4">Your password</label>
                          <!-- </div>
                          <div class="md-form">
                              <i class="fa fa-lock prefix"></i>
                              <input type="password" id="form4" class="form-control" type="password" name="confirmPassword">{{password}}</input>
                              <label for="form4">Confirm password</label>
                          </div> -->
                          <button class="btn btn-default-outline waves-effect glyphicon glyphicon-plus-sign">Sign Up</button>

</form>

                </div>
            </div>

            <div class="col-lg-3"></div>
        </div>

        <h4 style="color:red" id='warning'>{{messages.warning}}</h4>
        <!-- <h4 style="color:yellow" id='warning'>{{messages.warning}}</h4> -->
