
       <a href="/user/add" type="button" id="add_button" class="btn btn-default-outline waves-effect"><i class="fa fa-plus" style="color:lightblue;text-shadow:2px 2px 4px #000000;"></i>Add</a>
       <div class="table-responsive">
       <table class="table  table-bordered table-hover">
       <thead>
       <tr>
       <th  style="color:linen; text-shadow:0px 10px 7px black">username</th>
       <th  style="color:linen; text-shadow:0px 10px 7px black">email</th>
           </tr>
      </thead>
      <tbody>
      {{#users}}
     <tr  id="Pagetable" id="colorTable">
       <td style="color:linen; text-shadow:0px 10px 7px black"><strong>{{username}}</strong></td>
       <td style="color:linen; text-shadow:0px 10px 7px black"><strong>{{email}}</strong></td>


       <td><a href="/user/edit/{{id}}" type="button" id="edit_button" class="btn btn-success-outline waves-effect btn-lm"><span <i class="fa fa-edit"style="color:lightgreen;text-shadow:2px 2px 4px #000000;" aria-hidden="true"></i></span>Edit</a></td>
         <!-- <td><a href="/purchases/delete/{{id}}" type="button" id="delete_button" class="btn btn-danger-outline waves-effect glyphicon glyphicon-trash">Delete</a></td> -->

         <td><a href="/user/delete/{{id}}" type="button" id="delete_button" class="btn btn-danger-outline "><span><i class="fa fa-trash" style="color:red;text-shadow:2px 2px 4px #000000;" aria-hidden="true"></i></span>Delete</a></td>




     </tr>
       {{/users}}

   </tbody>
 </table>
